<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>E-mail oHub.</title>
    </head>
    <body style="background-color: #F7F7F7;">
        <table width="80%" align="center">
            <tr style="background-color: #FFFFFF;">
                <td><img src="http://ohub.ventomacedo.com.br/view/assets/images/logo-ohub.png" width="95"></td>
            <tr>
                <td style="padding: 20px; background-color: #FFFFFF;">
                    <h4>Seu acesso foi confirmado!</h4>
                    <p>
                        Ol&, tudo bem contigo? Se você está recebendo esse e-mail é porque se cadastrou no teste
                        desenvolvido pelo Vento, também conhecido como Rafael Macedo. Espero que tenha gostado e que
                        Esteja tudo dentro do esperado.
                    </p>
                    <p>
                        O Token gerado nesse exemplo é um UUID, ou seja, é um número único e que nunca irá se repetir,
                        bom, pelo menos não é para se repetir, pois o conceito de UUID é exatamente esse!
                        <br/><br/>
                        Seu Token: <strong>{{TOKEN}}</strong>
                    </p>
                    <p>
                        Muito obrigado por testar e utilizar esse teste de conhecimentos.
                        <br/>
                        <strong>Vento</strong> - Rafael Macedo.
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>
