/** Center **/
@mixin center
{
    margin:
    {
        left: auto;
        right: auto;
    }
}

/** Pseudo elements **/
@mixin pseudo($display: block, $pos: absolute, $content: '')
{
    content: $content;
    display: $display;
    position: $pos;
}

/** Scale images **/
@mixin responsive-ratio($x,$y, $pseudo: false)
{
    $padding: unquote( ( $y / $x ) * 100 + '%' );

    @if $pseudo
    {
        &:before
        {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    }
    @else
    {
        padding-top: $padding;
    }
}

/** Set font style **/
@mixin font-source-sans($size: false, $colour: false, $weight: false,  $lh: false)
{
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    @if $size      { font-size: $size; }
    @if $colour    { color: $colour; }
    @if $weight    { font-weight: $weight; }
    @if $lh        { line-height: $lh; }
}

/** Placeholders **/
@mixin input-placeholder
{
    &.placeholder                  { @content; }
    &:-moz-placeholder             { @content; }
    &::-moz-placeholder            { @content; }
    &:-ms-input-placeholder        { @content; }
    &::-webkit-input-placeholder   { @content; }
}

/** breakpoints **/
$breakpoints: ( 'phone':         320px,
                'phone-wide':    480px,

                'iphone6':       372px,
                'iphone6-wide':  667px,

                'phablet':       560px,
                'tablet-small':  640px,
                'tablet-medium': 640px,
                'tablet':        768px,
                'tablet-wide':   1024px,
                'desktop':       992px,
                'desktop-wide':  1367px );
@mixin mq($width, $type: min)
{
    @if map_has_key($breakpoints, $width)
    {
        $width: map_get($breakpoints, $width);
        @if $type == max
        {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width)
        {
            @content;
        }
    }
}

/** Z-index **/
$z-indexes: ( 'outdated-browser',
              'modal',
              'site-header',
              'page-wrapper',
              'site-footer' );
@function z($name)
{
    @if index($z-indexes, $name)
    {
        @return (length($z-indexes) - index($z-indexes, $name)) + 1;
    }
    @else
    {
        @warn 'There is no item '#{$name}' in this list; choose one of: #{$z-indexes}';
        @return null;
    }
}

/** Hardware Aceleration **/
@mixin hardware($backface: true, $perspective: 1000)
{
    @if $backface
    {
    backface-visibility: hidden;
    }
    perspective: $perspective;
}

/** Truncade **/
@mixin truncate($truncation-boundary)
{
    max-width:     $truncation-boundary;
    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
}

/** Face Font **/
@mixin font-face($name, $path, $exts: eot woff2 woff ttf svg, $weight: null, $style: null)
{
    $src: null;

    $extmods: ( ceot: "?",
                svg: "#" + str-replace($name, " ", "_") );

    $formats: ( otf: "opentype",
                ttf: "truetype" );

    @each $ext in $exts
    {
        $extmod:  if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format:  if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src:     append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face
    {
        font-family: quote($name);
        font-style:  $style;
        font-weight: $weight;
        src:         $src;
    }
}
