
@import "mixin";

$border:      #C9C9C9;
$inputText:   #565656;
$button:      #1E88E6;
$buttonHover: #1666AD;
$buttonText:  #FFFFFF;
$title:       #FFFFFF;
$footer:      #000000;
$footerText:  #FFFFFF;
$error:       #ffd3d3;

$black:       Black;
$white:       White;
$green:       Green;
$red:         Red;

body
{
    header
    {
        .logo
        {
            @include mq('phone')
            {
                width:  75px;
                margin: -20px;
            }
            @include mq('desktop')
            {
                width:  75px;
                margin: -20px;
            }
        }
    }
    article
    {
        #index
        {
            h1
            {
                @include mq('phone')
                {
                    font-size:     22px;
                    font-weight:   100;
                    color:         $title;
                }
                @include mq('desktop')
                {
                    font-size: 25px;
                }
            }
            form
            {
                input
                {
                    width:          100%;
                    height:         45px;
                    padding:        10px;
                    margin:         5px;

                    border:         1px solid $border;
                    border-radius:  5px;

                    font-size:      14px;
                    font-weight:    200;
                    color:          $inputText;
                }
                .btn
                {
                    @extend input;
                    background-color: $button;
                    color:            $buttonText;

                    &:hover
                    {
                        background-color: $buttonHover;
                        color:            $buttonText;
                    }
                }
                .glyphicon-ok-circle
                {
                    color:     $green;
                    font-size: 30px;
                    position:  absolute;
                    right:     17px;
                    top:       13px;
                    display:   none;
                }
                .glyphicon-remove-circle
                {
                    @extend    .glyphicon-ok-circle;
                    color:     $red;
                }
                .loading
                {
                    position: absolute;
                    top:      16px;
                    right:    23px;
                    display:  none;
                }
            }
        }
        #inside
        {
            .content
            {
                background-color: $white;
                width:            100%;
                min-height:       200px;
                border-radius:    5px;
                opacity:          .7;
                padding:          20px;
                h1
                {
                    @include mq('phone')
                    {
                        font-size:     32px;
                        font-weight:   100;
                        color:         $black;
                    }
                    @include mq('desktop')
                    {
                        font-size: 45px;
                    }
                }
                p
                {
                    color: $black;
                }
            }
        }
        #not-found
        {
            h1
            {
                color: $white;
            }
            p
            {
                color: $white;
            }
        }
        .parallax
        {
            @include mq('phone')
            {
                background-image:      url(../images/background-parallax-mobile.jpg);
                background-size:       cover;
                background-position:   100% 100%;
                background-repeat:     no-repeat;

                width:                 100%;
                min-height:            400px;
                padding:               70px 0;
            }
            @include mq('desktop')
            {
                background-image:      url(../images/background-parallax.jpg);
                background-size:       cover;
                background-position:   top center;
            }
        }
    }
    .error
    {
        font-size:   14px;
        font-weight: 200;
        color:       $error;
        text-align:  left;
    }
}
